@if (pizza()) {
  <div class="card h-100">
    <img [src]="pizza().fotoUrl" class="card-img-top" [alt]="pizza().nombre">

    <div class="card-body d-flex flex-column">
      <h5 class="card-title d-flex justify-content-between">
        <span>{{ pizza().nombre }}</span>
        <span class="text-success">{{ pizza().precio | number: '1.2-2' }} €</span>
      </h5>

      <div class="mb-3">
        @for (ingrediente of pizza().ingredientes; track $index) {
          <img [src]="ingrediente" [alt]="ingrediente" width="24" height="24" class="me-1">
        }
      </div>

      <div class="mt-auto">
        <form (ngSubmit)="agregarAlCarrito()" class="d-flex">
          <input 
            type="number" 
            class="form-control me-2" 
            style="width: 70px;" 
            [formControl]="cantidadControl">

          <button 
            type="submit" 
            class="btn btn-primary" 
            [disabled]="cantidadControl.invalid">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
              <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.488A.5.5 0 0 0 4 12h1a.5.5 0 0 1 0 1H4a.5.5 0 0 0-.491.408l-1.5 8A.5.5 0 0 0 2.5 16h9a.5.5 0 0 0 .489-.608l-1.5-8A.5.5 0 0 0 10 7H8.5a.5.5 0 0 1 0-1H10a.5.5 0 0 0 .491-.408L11.01 3.607 11.412 2H12.5a.5.5 0 0 0 0-1zM4.388 7l-1.4-7h11.224l-1.4 7zM5 12.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
            </svg>
          </button>
        </form>
      </div>

    </div>
  </div>
}