@if (pizza()) {
  <div class="card h-100">
    
    <div class="card-header">
      <h5 class="card-title d-flex justify-content-between align-items-center mb-0">
        <span>{{ pizza().nombre }}</span>
        
        <span class="text-success border border-success rounded px-2 py-1">
          {{ pizza().precio | number: '1.2-2' }} €
        </span>
      </h5>
    </div>

    <img [src]="pizza().fotoUrl" class="img-fluid object-fit-cover" style="height: 250px;" [alt]="pizza().nombre">
    
    <div class="card-body d-flex flex-column">
      
      <div class="mb-3">
        @for (ingrediente of pizza().ingredientes; track $index) {
          <img [src]="ingrediente" [alt]="ingrediente" width="24" height="24" class="me-1">
        }
      </div>

      <div class="mt-auto">
        <form [formGroup]="pizzaForm" (ngSubmit)="agregarAlCarrito()" class="d-flex"> 
          
          <input 
            type="number" 
            class="form-control me-2" 
            style="width: 70px;" 
            formControlName="cantidad">
          
          <button 
            type="submit" 
            class="btn btn-primary" 
            [disabled]="pizzaForm.invalid">
            
            <img src="icons/CarroCompra.png" alt="Añadir al Carrito" height="20" class="me-1">
            Añadir
            
          </button>
        </form>
      </div>

    </div>
  </div>
}